# -----------------------------
# Python 가상환경
# -----------------------------
venv/
env/
*.egg-info/

# -----------------------------
# Python 캐시
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# SQLite DB
# -----------------------------
backend/db/company.db

# -----------------------------
# 엑셀 데이터 파일
# -----------------------------
data/*.xlsx

# -----------------------------
# IDE / 편집기 설정
# -----------------------------
.vscode/

# -----------------------------
# 운영체제 관련
# -----------------------------
.DS_Store
Thumbs.db